
/* {
    margin:0;
    padding: 0;
} */
ul,ol
{
    list-style: none ;
}
body
{
    background: #bfbfbf url('../images/background.jpg') repeat-x; 
    font-family: Arial, sans-serif;
}
header h1
{
    font-size: 40px;
    text-align: center;
    font-family: 'Limelight', sans-serif;
    color: #fff;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #000;       
}

#main{
   width: 100%;
    height: 500px;
    margin: 0, auto;
    display: flex;
    justify-content: space-around;
    /* padding-top: 40px; */
}

.image{
  float: left;
  width: 140px;
  height: 500px;
  overflow: hidden;
  position: relative;
  transition: ease-in 0.3s; 
}

.image.active{
    width: 420px;
}


.imgBlack{
    position: absolute;
    left: 0;
    width: 140px;
    height: 500px;
    cursor: pointer;
    background-image: url(../images/bw-image.jpg);
    opacity: 0.7;
}



.imgColor{
    position: absolute;
    left: 140px;
    width: 140px;
    height: 500px;
    cursor: pointer;
    background-image: url(../images/color-image.jpg);
    transition: ease-in 0.3s;
}

.imgColor.active{
    left: 0px;
}

#img1 div{
    background-position: -140px , 0px;
}

#img2 div{
    background-position: -280px , 0px;
}

#img3 div{
    background-position: -420px , 0px;
}

#img4 div{
    background-position: -560px , 0px;
}

.card{
    position: absolute;
    left: 140px;
    background-color: white;
    height: 460px;
    padding: 20px;
    width: 240px;
    cursor: pointer;
}
 h1{
    margin-top: 20px;
    font-family: 'Limelight', sans-serif;
    text-align: center;
    margin-bottom: 25px;
}
h2{
    background-color: blue;
    color: white;
    font-family: 'Limelight', sans-serif;
    margin: auto;
    margin-top: 0;
    margin-bottom: 35px;
    border-radius: 10px;
    width: 80%;
    text-align: center;
    display: flex;
    justify-content: center;
}
h3{
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
    font-family: 'Limelight', sans-serif;
}
.navigation{
    margin-top: 40px;
   width: 100%;
    display: flex;
    justify-content: center;
    column-gap: 20px;
}
.navigation li{
    padding: 10px 25px;
    background-color:#2e3033;
    border-radius: 15px;
    color: white;
    border: 2px solid blue;
    text-align: center;
    font-family: 'Limelight', sans-serif;
    cursor: pointer;
}

.navigation li:hover{
    background-color:blue;
    border: 2px solid #2e3033;
}


.container{
display: flex;
align-items: center;
position: relative
}

.container .map img{
    width: 500px;
    object-fit: cover;
}

.container .cursor img{
    position: absolute;
    width: 30px;
    object-fit: cover;
    left: 250px;
    bottom: 280px;
    transition: 0.8s;
}